# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python

# Environment
.env
.venv
venv/
*.credentials

# Logs
logs/
*.log

# Data files - Delta Lake output
data/
*.parquet
*.snappy.parquet
*.crc
_delta_log/

# Checkpoints - Spark/Kafka generated
checkpoints/

# Airflow
airflow.db
airflow.cfg
airflow-webserver.pid
webserver_config.py


# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Java
*.class
*.jar

# Project secrets
Streaming_pipeline/ingestion/client.properties